html{scroll-behavior:smooth;}
body{background-color:#eee; margin:0px; direction:ltr;}
@font-face{font-family:"title"; src:url("title.ttf");}
@font-face{font-family:"texts"; src:url("texts.ttf");}
@font-face{font-family:"links"; src:url("links.ttf");}

*{box-sizing:border-box; border-radius:5px; font-family:"texts"; font-size:18pt;}
a{text-decoration:none; color:white; padding:1%; font-size:16pt; font-family:"links";}
div{display:inline-block; width:90%; text-align:center; margin:2%;}
ul{list-style-type:none;}
ul li{display:inline-block; margin:1%; font-size:14pt; background-color:#111; color:white; padding:5px;}
ul li a{border-radius:5px 0px; padding:5px; background-color:#111; font-size:12pt;}
img{width:350px; transition:width 0.5s; display:inline-block; margin:2%; border-radius:10px;}
p{text-align:left;}
img:hover{width:370px;}
input[type="text"] {width:250px; display:inline-block; border:none; text-align:left; margin:2%;}
input[type="submit"] {width:250px; border:none; color:white; font-family:"links"; background-color:#3f3;}
@media screen and (max-width:600px){
a{font-size:10pt;}	
*{font-size:12pt;}
ul li a{font-size:8pt;}
img{width:150px;}
img:hover{width:170px;}
}
nav{background-color:#111; border-radius:0px; font-family:"title"; padding:2%; color:white; position:sticky;}
#gallery img{width:30%;}
#gallery img:hover{width:35%;}
